* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title,
h2 {
  font-size: small;
  margin-left: 10px;
}

h1 {
  text-align: center;
  color: black;

}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 30px;
}


.card {
  width: 220px;
  height: 280px;
  border: 2px solid;
  border-color: red;
  background-color: whitesmoke;
}

.card img {
  padding: 2px;
  border: 2px solid;
  border-color: black;
  border-radius: 1px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.card price {}

.card rating {
  justify-content: right;
  gap: 10px;
  /* margin-left: 0px; */
}