* {
  background-color: rgb(118, 142, 252);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 20px;
}

h1 {
  text-align: center;
}
.container {
  border: 4px soid;
  border-color: whitesmoke;
  border-radius: 4px;
  margin-top: 50px;
}
